* {
     font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
     /* color: #ffd0a1; */
     color: #e1bd3e;
}
html {
     scroll-behavior: smooth;
}

.bg-green {
     background-color: #587059;
}

.bg-red {
     background-color: #663322;
}

.bg-yellow {
     background-color: #bb8855;
}

.active {
     background-color: #587059;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
     /* color: #495057; */
     color: white;
     background-color: #587059;
     border-color: #587059;
     /* border-bottom: 0px; */
}

.nav-tabs {
     border-bottom: 0px;
}

.nav-link {
     color: white;
}

.card {
     border: 0px;
}

.rounded-corners {
     border-radius: 25px;
}

/* a:hover {
     background-color:#aaa;
     color:white;
 }

a:active {
       background-color:#000;
       color:white;
 } */

.menu-tab:hover {
     background-color:#587059;
     color:white;
 }

.menu-tab:active {
       background-color:#000;
       color:white;
 }
